.Exercise {
    background: #04002c;
    display: inline-block;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(82, 0, 75);
    font-size: 30px;
    text-align: center;
    margin-right: 30px;
}

.ExerciseDiv{
    display: block;
     
}

.DeleteExerciseButton {
    background: #ff0000;
    font-weight: bold;
    color: white;
    display: inline-block;
    font-size: 9px;
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 239, 11);
    text-align: center;
    width: 45px;
}